<rd-header>
  <rd-header-title title-text="Container list">
    <a data-toggle="tooltip" title="Refresh" ui-sref="docker.containers" ui-sref-opts="{reload: true}">
      <i class="fa fa-sync" aria-hidden="true"></i>
    </a>
  </rd-header-title>
  <rd-header-content>Containers</rd-header-content>
</rd-header>
<information-panel-offline ng-if="offlineMode"></information-panel-offline>
<div class="col" ng-repeat=" containers in containersList">

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
  <rd-header>
    <h4> 
      <i class="fa fa-server" aria-hidden="true"></i> 
      {{ containers && containers.endpoint && ( containers.endpoint.Name + ' (' + containers.endpoint.PublicURL + ')' ) }} 
    </h4>
  </rd-header>
  <div ng-if="containers">
    <containers-datatable
      title-text="Containers" title-icon="fa-server"
      dataset="containers" table-key="containers"
      order-by="Status"
      show-add-action="true"
      offline-mode="offlineMode"
    ></containers-datatable>
  </div>
  </div>
</div>
